<ion-header>
    <ion-toolbar [color]="headerColor">
        <ion-row>
            <ion-menu-button></ion-menu-button>
            <ion-title>Payment</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div id="container" class="ion-padding">
        <h1>Online Payment disabled!</h1>
        <h2>We are currently not able to offer online payment method.</h2>
        <h3>At the checkout page you will find an IBAN to make a transaction.<br> Once we receive your payment we will start the shipping process.</h3>
    </div>
</ion-content>
