<ion-header>
    <ion-toolbar [color]="headerColor">
        <ion-row>
            <ion-menu-button></ion-menu-button>
            <ion-title>Sign Up</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form (ngSubmit)="signup()" [formGroup]="signupForm" [noValidate]="false" class="" id="container">
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="12">
                <ion-list-header lines="full">
                    <h4>Name</h4>
                </ion-list-header>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-bottom">
            <ion-col size-lg="3" size-md="6">
                <ion-item>
                    <ion-label position="floating">Firstname</ion-label>
                    <ion-input formControlName="firstname" name="firstname"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.firstname">
                        <div *ngIf="signupForm.get('firstname').hasError(validation.type) &&
                                                          (signupForm.get('firstname').dirty || signupForm.get('firstname').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
            <ion-col size-lg="3" size-md="6">
                <ion-item>
                    <ion-label position="floating">Lastname</ion-label>
                    <ion-input formControlName="lastname" name="lastname"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.lastname">
                        <div *ngIf="signupForm.get('lastname').hasError(validation.type) &&
                                                          (signupForm.get('lastname').dirty || signupForm.get('lastname').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="12">
                <ion-list-header lines="full">
                    <h4>Address</h4>
                </ion-list-header>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="3" size-md="6">
                <ion-item>
                    <ion-label position="floating">Country</ion-label>
                    <ion-input formControlName="country" name="country"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.country">
                        <div *ngIf="signupForm.get('country').hasError(validation.type) &&
                                                          (signupForm.get('country').dirty || signupForm.get('country').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
            <ion-col size-lg="3" size-md="6">
                <ion-item>
                    <ion-label position="floating">City</ion-label>
                    <ion-input formControlName="city" name="city"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.city">
                        <div *ngIf="signupForm.get('city').hasError(validation.type) &&
                                                          (signupForm.get('city').dirty || signupForm.get('city').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-bottom">
            <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="4">
                <ion-item>
                    <ion-label position="floating">ZIP</ion-label>
                    <ion-input formControlName="zip" name="zip"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.zip">
                        <div *ngIf="signupForm.get('zip').hasError(validation.type) &&
                                                          (signupForm.get('zip').dirty || signupForm.get('zip').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
            <ion-col size-lg="4" size-md="8" size-sm="8" size-xs="8">
                <ion-item>
                    <ion-label position="floating">Address</ion-label>
                    <ion-input formControlName="address" name="address"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.address">
                        <div *ngIf="signupForm.get('address').hasError(validation.type) &&
                                                          (signupForm.get('address').dirty || signupForm.get('address').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="12">
                <ion-list-header lines="full">
                    <h4>Login Data</h4>
                </ion-list-header>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="9">
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input formControlName="email" name="email"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <div *ngIf="signupForm.get('email').hasError(validation.type) &&
                                                          (signupForm.get('email').dirty || signupForm.get('email').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="9">
                <ion-item>
                    <ion-label position="floating">Confirm Email</ion-label>
                    <ion-input formControlName="confirm_email" name="confirm_email"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.confirm_email">
                        <div *ngIf="signupForm.get('confirm_email').hasError(validation.type) &&
                                                          (signupForm.get('confirm_email').dirty || signupForm.get('confirm_email').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-margin-bottom">
            <ion-col size-lg="3" size-md="9">
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input formControlName="password" name="password" type="password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <div *ngIf="signupForm.get('password').hasError(validation.type) &&
                                                          (signupForm.get('password').dirty || signupForm.get('password').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
            <ion-col size-lg="3" size-md="9">
                <ion-item>
                    <ion-label position="floating">Confirm Password</ion-label>
                    <ion-input formControlName="confirm_password" name="confirm_password" type="password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.confirm_password">
                        <div *ngIf="signupForm.get('confirm_password').hasError(validation.type) &&
                                                          (signupForm.get('confirm_password').dirty || signupForm.get('confirm_password').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="9">
                <ion-button [disabled]="!formValid" color="primary" expand="full" shape="round" type="submit">
                    <ion-icon name="log-in" slot="start"></ion-icon>
                    Sign Up
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
