.error-message {
  color: var(--ion-color-danger);
  font-size: 0.85em;
}

.validation-errors {
  padding-top: 3px;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
