<ion-header>
    <ion-toolbar [color]="headerColor">
        <ion-row>
            <ion-menu-button></ion-menu-button>
            <ion-title>Login</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="ion-padding" id="container">
        <form (ngSubmit)="login()" [formGroup]="loginForm" [noValidate]="false">
            <ion-row class="ion-justify-content-center">
                <ion-col size-lg="6" size-md="12">
                    <ion-list-header lines="full">
                        <h4>Credentials</h4>
                    </ion-list-header>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size-lg="6" size-md="9">
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input formControlName="email" name="email"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.email">
                            <div *ngIf="loginForm.get('email').hasError(validation.type) &&
                                                          (loginForm.get('email').dirty || loginForm.get('email').touched)"
                                 class="error-message">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center ion-margin-bottom">
                <ion-col size-lg="6" size-md="9">
                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-input formControlName="password" name="password" type="password"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.password">
                            <div *ngIf="loginForm.get('password').hasError(validation.type) &&
                                                          (loginForm.get('password').dirty || loginForm.get('password').touched)"
                                 class="error-message">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col size-lg="6" size-md="9">
                    <ion-button [disabled]="!formValid" color="primary" expand="full" shape="round" type="submit">
                        <ion-icon name="log-in" slot="start"></ion-icon>
                        Login
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </div>
</ion-content>
