<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-menu-button></ion-menu-button>
            <ion-title>Products</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center">
    <ion-row>
        <ion-searchbar (ionChange)="handleInput($event)" show-cancel-button="focus" cancel-button-icon="close"></ion-searchbar>
    </ion-row>

    <ion-row *ngIf="!productsLoaded">
        <ion-col size-md="3" size-sm="6" size-xs="12" *ngFor="let item of arr;">
            <ion-card class="ion-margin">
                <ion-skeleton-text animated="true" style="width: 100%; height: 130px; margin: 0;"></ion-skeleton-text>
                <ion-card-header>
                    <ion-skeleton-text animated="true" style="width: 70%; height: 20px;"></ion-skeleton-text>
                    <ion-skeleton-text animated="true" style="width: 20%;"></ion-skeleton-text>
                </ion-card-header>
                <ion-card-content>
                    <ion-skeleton-text animated="true" style="width: 90%;"></ion-skeleton-text>
                    <ion-skeleton-text animated="true" style="width: 20%;"></ion-skeleton-text>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="productsLoaded && filteredProducts.length > 0">
        <ion-col size-md="3" size-sm="6" size-xs="12" *ngFor="let product of filteredProducts">
            <ion-card [routerLink]="['/product', product.getId()]" class="ion-margin">
                <ion-img [src]="product.getImage()"></ion-img>
                <ion-card-header>
                    <ion-card-title>{{product.getTitle()}}</ion-card-title>
                    <ion-card-subtitle color="warning">{{product.getPrice() | currency:'EUR'}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    {{product.getDescription() | slice: 0:50}} ...
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <div *ngIf="filteredProducts.length === 0" id="container">
        <h2>No products found!</h2>
    </div>
</ion-content>
