<ion-header>
    <ion-toolbar [color]="headerColor">
        <ion-row>
            <ion-menu-button></ion-menu-button>
            <ion-title>Password</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form (ngSubmit)="updatePassword()" [formGroup]="passwordForm" [noValidate]="false" id="container">

        <!--<ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="12">
                <ion-list-header lines="full">
                    <h4>Current Password</h4>
                </ion-list-header>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="9">
                <ion-item>
                    <ion-label position="floating">Current Password</ion-label>
                    <ion-input name="current_password" formControlName="current_password" type="password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.current_password">
                        <div class="error-message" *ngIf="passwordForm.get('current_password').hasError(validation.type) &&
                                                          (passwordForm.get('current_password').dirty || passwordForm.get('current_password').touched)">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
        </ion-row>-->

        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="12">
                <ion-list-header lines="full">
                    <h4>New Password</h4>
                </ion-list-header>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="9">
                <ion-item>
                    <ion-label position="floating">New Password</ion-label>
                    <ion-input formControlName="new_password" name="new_password" type="password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.new_password">
                        <div *ngIf="passwordForm.get('new_password').hasError(validation.type) &&
                                                          (passwordForm.get('new_password').dirty || passwordForm.get('new_password').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-bottom">
            <ion-col size-lg="6" size-md="9">
                <ion-item>
                    <ion-label position="floating">Confirm new Password</ion-label>
                    <ion-input formControlName="confirm_new_password" name="confirm_new_password"
                               type="password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.confirm_new_password">
                        <div *ngIf="passwordForm.get('confirm_new_password').hasError(validation.type) &&
                                                          (passwordForm.get('confirm_new_password').dirty || passwordForm.get('confirm_new_password').touched)"
                             class="error-message">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="9">
                <ion-button [disabled]="!formValid" color="primary" expand="full" shape="round" type="submit">
                    <ion-icon name="reload" slot="start"></ion-icon>
                    Update
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
