<ion-header>
    <ion-toolbar [color]="headerColor">
        <ion-row>
            <ion-menu-button></ion-menu-button>
            <ion-title>General</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="ion-padding" id="container">
        <form (ngSubmit)="updateGeneral()" [formGroup]="generalForm" [noValidate]="false">
            <ion-row class="ion-justify-content-center">
                <ion-col size-lg="6" size-md="12">
                    <ion-list-header lines="full">
                        <h4>Name</h4>
                    </ion-list-header>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col size-lg="6" size-md="9">
                    <ion-item>
                        <ion-label position="floating">Firstname</ion-label>
                        <ion-input formControlName="firstname" name="firstname" type="text"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.firstname">
                            <div *ngIf="generalForm.get('firstname').hasError(validation.type) &&
                                                          (generalForm.get('firstname').dirty || generalForm.get('firstname').touched)"
                                 class="error-message">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center ion-margin-bottom">
                <ion-col size-lg="6" size-md="9">
                    <ion-item>
                        <ion-label position="floating">Lastname</ion-label>
                        <ion-input formControlName="lastname" name="lastname" type="text"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.lastname">
                            <div *ngIf="generalForm.get('lastname').hasError(validation.type) &&
                                                          (generalForm.get('lastname').dirty || generalForm.get('lastname').touched)"
                                 class="error-message">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col size-lg="6" size-md="9">
                    <ion-button [disabled]="!formValid" color="primary" expand="full" shape="round" type="submit">
                        <ion-icon name="reload" slot="start"></ion-icon>
                        Update
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </div>

</ion-content>
