<ion-header>
    <ion-toolbar [color]="headerColor">
        <ion-row class="ion-align-items-center">
            <ion-back-button [defaultHref]="'/cart'"></ion-back-button>
            <ion-title>Checkout</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngIf="user !== undefined">
            <ion-col>
                <ion-card class="ion-no-margin">
                    <ion-card-header>
                        <ion-card-title>
                            Shipment
                        </ion-card-title>
                        <ion-card-subtitle>
                            Your items will be shipped to the following address. To change this address please go to
                            your account settings.
                        </ion-card-subtitle>
                        <ion-card-content>
                            <p>{{user._firstname}} {{user._lastname}}</p>
                            <p>{{user._city}} {{user._zip}}, {{user._address}}</p>
                            <p>{{user._country}}</p>
                        </ion-card-content>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-lg="8">
                <ion-card *ngFor="let product of products" class="ion-no-margin">
                    <ion-card-header>
                        <ion-card-title>{{product.getProduct().getTitle()}}</ion-card-title>
                        <ion-card-subtitle>
                            Price: {{product.getProduct().getPrice() | currency: 'EUR'}}</ion-card-subtitle>
                        <ion-card-subtitle>Amount: {{product.getQuantity()}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size-lg="4">
                <ion-card class="ion-no-margin">
                    <ion-card-header>
                        <ion-card-title>Total: {{totalPrice | currency: 'EUR'}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p>
                            Currently we cannot offer online payments. Through the button below you can send us as an
                            inquiry for your products. If we receive your payment on the following bank account we will
                            start
                            the shipment of the ordered products.
                        </p>
                        <p>
                            <strong>Bank Account</strong><br>
                            Name: NFC Tags Company<br>
                            IBAN: AT11 1111 1111 1111 1111
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
    <ion-toolbar class="ion-padding-bottom">
        <ion-row class="ion-justify-content-center">
            <ion-item class="ion-text-xl-center" lines="none">
                <ion-text style="padding-right: 5px;">I agree that my data will be stored on the server.</ion-text>
                <ion-checkbox class="" [(ngModel)]="agreement"></ion-checkbox>
            </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button [disabled]="!agreement" (click)="sendInquiry()" shape="round" expand="full">
                <ion-icon slot="end" name="send"></ion-icon>
                Send inquiry
            </ion-button>
        </ion-row>
    </ion-toolbar>
</ion-footer>

